<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 Glassy Code</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img ngSrc="./assets/logo.svg" alt="Logo" width="200" height="35" srcset="./assets/logo.svg 2x" sizes="50vw">
    </a>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/karol-nowak-7919a21b9"><svg class="bi" width="24" height="24"><use xlink:href="/assets/symbols.svg#linkedin"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="/assets/symbols.svg#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="/assets/symbols.svg#twitter"></use></svg></a></li>
    </ul>
  </footer>
</div>
